body {

    margin: 0;
    min-height: 100vh;

    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #ffe1f0,
        #dcefff
    );

    text-align: center;
}

.hidden {
    display: none !important;
}

.title {

    font-size: 60px;
    font-weight: bold;

    margin-top: 30px;

    color: white;

    text-shadow: 2px 2px 5px #666;
}

.users {

    margin-top: 30px;
}

button {

    border: none;

    border-radius: 20px;

    padding: 15px 30px;

    margin: 10px;

    cursor: pointer;

    font-size: 18px;

    font-weight: bold;

    color: white;

    box-shadow: 0 4px 10px rgba(0,0,0,0.20);

    transition: 0.2s;
}

button:hover {

    transform: translateY(-2px);

    box-shadow: 0 6px 14px rgba(0,0,0,0.25);

}

.fernando {

    background: #4a90e2;
}

.debora {

    background: #ff69b4;
}

.history-button {

    background: #8e44ad;
}

textarea {

    width: 90%;
    max-width: 600px;

    height: 250px;

    border-radius: 20px;

    border: none;

    padding: 15px;

    font-size: 18px;
}

#cloud-container {

    margin-top: 30px;
}

.cloud {

    display: inline-block;

    margin: 10px;

    padding: 15px 25px;

    border-radius: 999px;

    color: white;

    cursor: pointer;

    font-weight: bold;

    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.cloud.fernando {

    background: #4a90e2;
}

.cloud.debora {

    background: #ff69b4;
}

#selected-wish {

    background: white;

    border-radius: 20px;

    padding: 25px;

    margin: 20px auto;

    max-width: 600px;
}

.history-item {

    background: white;

    border-radius: 20px;

    padding: 15px;

    margin: 10px auto;

    max-width: 600px;
}

.restore-btn {

    background: green;
}

#back-btn,
#detail-back-btn,
#history-back-btn {

    background: #6c757d;

}

#save-btn {

    background: #28a745;

}

#complete-btn {

    background: #ff9800;

}

.restore-btn {

    background: #2196f3;

}

.history-button {

    background: #8e44ad;

}

#editor-screen {

    padding-top: 40px;

}

#selected-user {

    color: #333;

    font-size: 40px;

    margin-bottom: 20px;

}